<%= render  "shared/error", object: @ticket %>

<%= form_with model: @ticket, local: true do |f| %>
  <div>
    <%= f.label :project %>
    <%= f.select(:project_id, projects_for_select) %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.select :status, status_options_for_select %>
  </div>
  <div>
    <%= f.label :tags %>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name  do |cb| %>
      <% cb.label {cb.check_box(class: 'checkbox') + cb.text} %>
    <% end %>  
  </div>
  <%= f.submit @ticket.new_record? ? 'Create Ticket' : 'Update Ticket' %>
<% end %>

<%= f.label 'Select one or more post categories:' %>
<%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
  <% cb.label(class: 'checkbox inline') {cb.check_box(class: 'checkbox') + cb.text} %> 
<% end %>