<%= render  "shared/error", object: @tag %>

<%= form_with model: @tag , local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit @tag.new_record? ? 'Create Tag' : 'Update Tag' %>
<% end %>
<%= link_to  "Cancel", tags_path %>